.quantity{
    position: relative;
    bottom: 4em;
    left: 2em;
    color: white;
    z-index: 999;
    background-color: red;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    text-align: center;
}
.noNumber{
    height: 1.5em;
    width: 1.5em;
}