.cart{
    display: flex;
}

.cart img {
    height: 3em;
    width: 3em;
}

.cantidad{
    position: relative;
    bottom: 4em;
    left: 2em;
    color: white;
    z-index: 999;
    background-color: red;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
}
.noNumber{
    height: 1.5em;
    width: 1.5em;
}