.nav{
    display: flex;
    justify-content: space-between;
    background-color: #6096B4;
    padding: 1em;
    height: 4em;
    align-items: center;
}
.nav img{
    height: 13em;
    width: 13em;
}
