.inputSize{
    width: 115px;
    font-weight:900;
}
.noBorder{ 
    border-radius: 0;
}
.noBorder1{
    border-end-end-radius: 0;
    border-end-start-radius: 0;
}
.noBorder2{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}