@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Rubik&display=swap");

.App {
  text-align: center;
}
.products h1{
  display: inline-block;
  padding: 3px 10px 3px 10px;
  background-color: #6096B4;
  margin: 15px 0px 5px 0px;
}

* {
  font-family: "Manrope", sans-serif;
  font-family: "Rubik", sans-serif;
}
body{
  background-color: #282c34;
}