.counter {
  display: flex;
  color: black;
  justify-content: space-between;
  width: 65px;
  height: 25px;
  font-size: 15px;
  margin: 3px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.counter-button {
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.counter-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.counter-button:hover,
.add-button:hover {
  background-color: gainsboro;
}
.add-button {
  width: 37px;
  height: 27px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.add-button img {
  position: relative;
  bottom: 4px;
  width: 23px;
  height: 20px;
}
